@import 'theme/light';
@import 'theme/dark';

.imagenAbout {
    height: 900px;
    width: 100%;
    position: relative;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.01),
        rgba(255, 255, 255, 0.01)
      ), url(https://cdn.pixabay.com/photo/2017/02/07/09/45/city-2045453_960_720.jpg);
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-top: 130px;
}

.arriba {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    border-width: 35vh 100vw 0 0;
    border-style: solid;
    border-color: $color-background-light transparent transparent transparent;
}

.abajo {
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 35vh 100vw;
    border-style: solid;
    border-color: transparent transparent $color-background-light transparent;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 52px 0;
}

.about-margin {
    margin-top: 15%;
}

.cuadroAbout, .cuadroSkill {
    margin-top: 9%;
}

body.dark {
    .abajo {
        border-color: transparent transparent $color-background-dark transparent;
    }
    .arriba {
        border-color: $color-background-dark transparent transparent transparent;
    }
}
