@import 'theme/light';
@import 'theme/dark';

.imagenAbout {
    height: 150vh;
    width: 100%;

    position: relative;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ), url(https://pro2-bar-s3-cdn-cf6.myportfolio.com/64df00ea00de8c85be70dd38ed018d48/0ca34a188ba5d9997e07223a_rw_1920.jpg?h=e0b690ceae897638f3092c6b5b8096a3);
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-top: 16vh;
}

.arriba {
    z-index: 10;
    position: absolute;

    top: 0;
    left: 0;

    border-width: 20vh 100vw 0 0;
    border-style: solid;
    border-color: $color-background-light transparent transparent transparent;
}

.abajo {
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 20vh 100vw;

    border-style: solid;
    border-color: transparent transparent $color-background-light transparent;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 52px 0;
}

.about-margin {
    margin-top: 15vh;
}

.cuadroAbout, .cuadroSkill {
    margin-top: 15vh;
}

.skill{
    margin-top: 2%;
}

.imgSkill {
    width: 80px;
    height: 80px;
}

body.dark {
    .abajo {
        border-color: transparent transparent $color-background-dark transparent;
    }
    .arriba {
        border-color: $color-background-dark transparent transparent transparent;
    }
    .imagenAbout {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
          ), url(https://pro2-bar-s3-cdn-cf6.myportfolio.com/64df00ea00de8c85be70dd38ed018d48/0ca34a188ba5d9997e07223a_rw_1920.jpg?h=e0b690ceae897638f3092c6b5b8096a3);
    }
}
