@import 'theme/light';
@import 'theme/dark';


/* Animacion General ==================================== */

html {
    scroll-behavior: smooth;
}


.text-center {
    text-align: center;
}

.ocultar {
    opacity: 0;
    z-index: 0;
}

.animar {
    animation: deslizar 1s;
}

@keyframes deslizar{
    0% {
        transform: translateY(60px);
    }

    100% {
        transform: translateY(0);
    }
}
