@import 'theme/light';
@import 'theme/dark';

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  background-color: $color-button-contact-light;

  -webkit-box-shadow: inset -8px 10px 29px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: inset -8px 10px 29px 0px rgba(0,0,0,0.5);
  box-shadow: inset -8px 10px 29px 0px rgba(0,0,0,0.5);

  &:hover {
      background-color: $color-button-contact-dark;
      opacity: 1;
  }
}

.font-px {
  font-size: 3vh;
}

.imagen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagenContact {
    width: 80%;
    height: 80%;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);

    &:hover {
        -webkit-transform:scale(1.1);
        transform:scale(1.1);
        overflow:hidden;

        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
}

.border {
    border-radius: 2%;
}

.container-center{
    display: flex;
    justify-content: center;
}

.container {
    width: 90%;
    height: 90%;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;

    padding: 15px;
}

.name-control {
  text-transform:capitalize;
}

.email-control {
  text-transform: lowercase;
}

::placeholder {
  color: rgb(179, 174, 174);
}

textarea:focus, input:focus, input[type]:focus {
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(21, 76, 106, 0.6);
  outline: 0 none;
}

.form-control {
    width: 100%;
    height: 5vh;
    font-size: 2vh;

    -webkit-box-shadow: inset 8px 9px 43px -10px rgba(0,0,0,0.31);
    -moz-box-shadow: inset 8px 9px 43px -10px rgba(0,0,0,0.31);
    box-shadow: inset 8px 9px 43px -10px rgba(0,0,0,0.31);

    text-indent: 15px;
    border: 0;
    background-color: #527383;
    color: #e2e2e2;
}

.form-control-textarea {
    width: 100%;
    height: 30vh;

    resize: none;
    padding: 10px;
    background-color: #527383;
    color: #e2e2e2;
    font: 400 13.3333px Arial;
    font-size: 2vh;
    border: 0;

    &::-webkit-scrollbar {
        width: 10px;
        background-color: $color-scrollbar-bg-light;
    }

    &::-webkit-scrollbar-thumb {
        background: $color-scrollbar-bar-light;
        border-radius: 5%;
    }

    -webkit-box-shadow: inset 8px 9px 43px -10px rgba(0,0,0,0.31);
    -moz-box-shadow: inset 8px 9px 43px -10px rgba(0,0,0,0.31);
    box-shadow: inset 8px 9px 43px -10px rgba(0,0,0,0.31);
}

.contact-title {
    padding: 2vh;
    font-size: 4vh;
}

$base: #0f1923;
$white: #ece8e1;
$pink: #4e8098;
$height: 10vh;
$width: 100%;
$transition: 0.3s ease-out all;

.botonPrueba {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;

    button {

      width: $width;
      max-width: 240px;
      height: $height;
      padding: 8px;
      font-size: 0.8rem;
      font-weight: 900;
      color: $pink;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      box-shadow: 0 0 0 1px inset rgba($white, 0.3);
      position: relative;
      margin: 10px 0;

      &.white:hover > p {
        color: $white;
      }
      &.white > p {
        background: $white;
        color: $base;
        & span.base {
          border: 1px solid transparent;
        }
      }
      &.transparent:hover > p {
        color: $white;
        & span.text {
          box-shadow: 0 0 0 1px $white;
        }
      }
      &.transparent > p {
        background: $base;
        color: $white;
        & span.base {
          border: 1px solid $white;
        }
      }
      &:after,
      &:before {
        content: "";
        width: 1px;
        position: absolute;
        height: 8px;
        background: $base;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      &:before {
        right: 0;
        left: initial;
      }
      & p {
        margin: 0;
        height: $height;
        line-height: $height;
        box-sizing: border-box;
        z-index: 1;
        left: 0;
        width: $width;
        position: relative;
        overflow: hidden;
        & span.base {
          box-sizing: border-box;
          position: absolute;
          z-index: 2;
          width: $width;
          height: 100%;
          left: 0;
          border: 1px solid $pink;
          &:before {
            content: "";
            width: 2px;
            height: 2px;
            left: -1px;
            top: -1px;
            background: $base;
            position: absolute;
            transition: $transition;
          }
        }
        & span.bg {
          left: -5%;
          position: absolute;
          background: $pink;
          width: 0;
          height: 100%;
          z-index: 3;
          transition: $transition;
          transform: skewX(-10deg);
        }
        & span.text {
          z-index: 4;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          &:after {
            content: "";
            width: 4px;
            height: 4px;
            right: 0;
            bottom: 0;
            background: $base;
            position: absolute;
            transition: $transition;
            z-index: 5;
          }
        }
      }
      &:hover {
        color: $white;
        & span.bg {
          width: 110%;
        }
        & span.text:after {
          background: $white;
        }
      }
    }
}

body.dark {
    .button {
        background-color: $color-button-contact-dark;

        &:hover {
            background-color: $color-button-contact-light;
        }

    }
    .form-control-textarea {
        &::-webkit-scrollbar {
            background-color: $color-scrollbar-bg-dark;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $color-scrollbar-bar-dark;
        }
    }
    .box-area li {
      background: $color-animacion-dark;
    }
}

@media screen and (max-width:750px){
    .container {
        width: 100%;
        height: 100%;
    }

}

@media screen and (max-width:600px){
    .imagen {
        display: none;
    }
    .container {
        display: grid;
        grid-template-columns: 100%;
    }
}

/* Animacion CSS */

.box-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.box-area li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: $color-animacion-light;
	animation: animate 20s linear infinite;
	bottom: -150px;
}
.box-area li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.box-area li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.box-area li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-area li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}
.box-area li:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}

@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}
