@import 'theme/light';
@import 'theme/dark';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
}

body {
    background-color: $color-background-light;

    &::-webkit-scrollbar {
        width: 10px;
        background-color: $color-scrollbar-bg-light;
    }

    &::-webkit-scrollbar-thumb {
        background: $color-scrollbar-bar-light;
        border-radius: 5%;
    }

    &.dark {
        background-color: $color-background-dark;
        &::-webkit-scrollbar {
            background-color: $color-scrollbar-bg-dark;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $color-scrollbar-bar-dark;
        }
    }
}
