@import 'theme/light';
@import 'theme/dark';

* {
    margin: 0;
    padding: 0;
    padding-left: 0.5%;
    padding-right: 0.5%;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
}

body {
    background-color: $color-background-light;
    color: $color-texto-primary-light;

    &::-webkit-scrollbar {
        width: 10px;
        background-color: $color-scrollbar-bg-light;
    }

    &::-webkit-scrollbar-thumb {
        background: $color-scrollbar-bar-light;
        border-radius: 5%;
    }

    &.dark {
        background-color: $color-background-dark;
        color: $color-texto-primary-dark;

        &::-webkit-scrollbar {
            background-color: $color-scrollbar-bg-dark;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $color-scrollbar-bar-dark;
        }
    }
}

@media screen and (max-width:400px){
    * {
        padding: 0;
    }
}
