@import 'theme/var';

:root {
    --size: 3rem;
    --animation-time: .3s;
}

.button-nav {
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    position: fixed;
    background-color: $color-button-light;
    top: 1rem;
    right: 1rem;
    z-index: 100;
    transition: transform var(--animation-time);

    &.dark {
        background-color: $color-button-dark;
    }

    &:hover {
        transform: rotate(-45deg);
        background-color: $color-button-dark;
        cursor: pointer;

        &.dark {
            background-color: $color-button-light;
        }
    }
    &:active {
        transform: rotate(-45deg);
        background-color: $color-button-active-light;

        &.dark {
            background-color: $color-button-active-dark;
        }
    }

    &::before,
    &::after {
        position: absolute;
        width: 40%;
        height: 4%;
        content: "";
        top: 49%;
        left: 30%;
        background: #fff;
    }
    &::after {
        transform: rotate(90deg);
        background: #fff;
    }
}
