@import 'theme/light';
@import 'theme/dark';

:root {
    --size: 3rem;
    --animation-time: .3s;
}

.button-nav {
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    position: fixed;
    background-color: $color-button-light;
    opacity: 0.5;
    top: 1rem;
    right: 1rem;
    z-index: 100;
    transition: transform var(--animation-time);

    &:hover {
        transform: rotate(-45deg);
        background-color: $color-button-dark;
        cursor: pointer;
    }

    &:active {
        transform: rotate(-45deg);
        background-color: $color-button-active-light;
    }

    &::before,
    &::after {
        position: absolute;
        width: 40%;
        height: 4%;
        content: "";
        top: 49%;
        left: 30%;
        background: #fff;
    }
    &::after {
        transform: rotate(90deg);
        background: #fff;
    }

}

.enlaces {
    position: fixed;
    height: 100vh;
    width: 100%;
    right: 0;
    text-align: end;
    align-items: center;
    padding: 10%;

    flex-direction: column;
    transition: all 1s ease;

    background: $color-menudespe-primary-light;
    background: -webkit-linear-gradient(
        to right,
        $color-menudespe-tertiary-light,
        $color-menudespe-secundary-light,
        $color-menudespe-primary-light
    );
    background: linear-gradient(
        to right,
        $color-menudespe-tertiary-light,
        $color-menudespe-secundary-light,
        $color-menudespe-primary-light
    );
}

.enlace {
    text-decoration: none;
    list-style: none;
    color: $color-textmenu-light;
    &:hover {
        color: $color-textmenu-hover-light;
    }
}

.mode {
    text-decoration: none;
    list-style: none;
    color: $color-textmenu-light;
    &:hover {
        color: $color-textmenu-hover-light;
        cursor: pointer;
    }
}

.circulo {
    list-style: none;

    -webkit-clip-path: circle(0% at 100% 0%);
    clip-path: circle(0% at 100% 0%);
}

.circuloactive {
    list-style: none;
    opacity: 0.7;

    -webkit-clip-path: circle(50% at 100% 0%);
    clip-path: circle(50% at 100% 0%);
}

/* Modo Dark ==================================================================================== */

body.dark {

    .button-nav {
        background-color: $color-button-dark;
        &:hover {
            background-color: $color-button-light;
        }
        &:active {
            background-color: $color-button-active-dark;
        }
    }

    .enlaces {
        background: $color-menudespe-primary-dark;
        background: -webkit-linear-gradient(
            to right,
            $color-menudespe-tertiary-dark,
            $color-menudespe-secundary-dark,
            $color-menudespe-primary-dark
        );
        background: linear-gradient(
            to right,
            $color-menudespe-tertiary-dark,
            $color-menudespe-secundary-dark,
            $color-menudespe-primary-dark
        );
    }

    .enlace {
        color: $color-textmenu-dark;
        &:hover {
            color: $color-textmenu-hover-dark;
        }
    }

    .mode {
        color: $color-textmenu-dark;
        &:hover {
            color: $color-textmenu-hover-dark;
        }
    }
}

/* Media Query ==================================================================================== */

@media screen and (max-width:660px){
    .enlaces {
        padding: 18%;
    }
    .circuloactive {
        list-style: none;
        -webkit-clip-path: circle(60% at 100% 0%);
        clip-path: circle(60% at 100% 0%);
    }
}

@media screen and (max-width:340px){
    .enlaces {
        padding: 30%;
    }
    .circuloactive {
        list-style: none;
        -webkit-clip-path: circle(65% at 100% 0%);
        clip-path: circle(65% at 100% 0%);
    }
}

@media screen and (max-width:300px){
    .enlaces {
        font-size: 14px;
    }
}
