@import 'theme/light';
@import 'theme/dark';

.text-center {
    text-align: center;
}

.enlacetexto {
    text-decoration: none;
    list-style: none;
    color: $color-text-light;
    &:hover {
        color: $color-text-hover-light;
    }
}

.icon {
    font-size: 50px;
}

.foto {
    border-radius: 100%;
    width: 85%;
    height: 85%;
}

.column-1 {
    display: flex;
    align-items: center;
}

.column-2 {
    display: flex;
    justify-content: left;
}

.cuadroPerfil {
    display: grid;

    grid-template-columns: 60% 40%;
    grid-template-rows: auto auto;
    column-gap: 1.1%;
    row-gap: 5%;
}

body.dark {
    .enlacetexto {
        color: $color-text-dark;
        &:hover {
            color: $color-text-hover-dark;
        }
    }
}

@media screen and (max-width:750px){
    .cuadroPerfil {
        display: grid;

        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:
            "a"
            "b";

        justify-items: center;
    }
    .column-1 {
        grid-area: b;
    }
    .column-2 {
        grid-area: a;
        justify-content: center;
    }
}
