@import 'theme/light';
@import 'theme/dark';

.text-center {
    text-align: center;
}

.enlacetexto {
    text-decoration: none;
    list-style: none;
    color: $color-text-light;
    &:hover {
        color: $color-text-hover-light;
    }
}

.github {
    font-size: 50px;
}

body.dark {
    .enlacetexto {
        color: $color-text-dark;
        &:hover {
            color: $color-text-hover-dark;
        }
    }
}
