@import 'theme/light';
@import 'theme/dark';

.item {
    display: block;

    padding: 15px;
    width: 100%;
    height: 100%;

    border: solid;
    border-radius: 10%;
    border-color: rgb(167, 94, 94);
}
