@import 'theme/light';
@import 'theme/dark';

.item {
    border-radius: 27px 27px 27px 27px;
    -moz-border-radius: 27px 27px 27px 27px;
    -webkit-border-radius: 27px 27px 27px 27px;

    -webkit-box-shadow: inset 7px 10px 16px 3px rgba(0,0,0,0.49);
    -moz-box-shadow: inset 7px 10px 16px 3px rgba(0,0,0,0.49);
    box-shadow: inset 7px 10px 16px 3px rgba(0,0,0,0.49);

    /* -webkit-box-shadow: 7px 10px 16px 3px rgba(0,0,0,0.49);
    -moz-box-shadow: 7px 10px 16px 3px rgba(0,0,0,0.49);
    box-shadow: 7px 10px 16px 3px rgba(0,0,0,0.49); */

    padding: 15px;
    width: 100%;
    height: 100%;

    background-color: $color-background-proyect-light;
    border-color: $color-border-proyect-light;
}

body.dark {
    .item {
        background-color: $color-background-proyect-dark;
        border-color: $color-border-proyect-dark;
    }
}
