@import 'theme/light';
@import 'theme/dark';

.cuadroProyecto {
    display: grid;

    grid-template-columns: 49.45% 49.45%;
    grid-template-rows: auto auto;
    column-gap: 1.1%;
    row-gap: 5%;
}

@media screen and (max-width:750px){
    .cuadroProyecto {
        display: grid;

        grid-template-columns: 100%;
        grid-template-rows: auto;
        column-gap: 0%;
        row-gap: 1%;

        justify-items: center;
    }
}
