@import 'theme/light';
@import 'theme/dark';

.width {
    width: 100%;
    height: auto;
}

figcaption, [class^=imghvr-] figcaption {
    background-color: #2f7ca5;
    padding: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
}

.item {
    border-radius: 27px 27px 27px 27px;
    -moz-border-radius: 27px 27px 27px 27px;
    -webkit-border-radius: 27px 27px 27px 27px;

    -webkit-box-shadow: inset 7px 10px 16px 3px rgba(0,0,0,0.49);
    -moz-box-shadow: inset 7px 10px 16px 3px rgba(0,0,0,0.49);
    box-shadow: inset 7px 10px 16px 3px rgba(0,0,0,0.49);

    -webkit-box-shadow: 7px 10px 16px 3px rgba(0,0,0,0.49);
    -moz-box-shadow: 7px 10px 16px 3px rgba(0,0,0,0.49);
    box-shadow: 7px 10px 16px 3px rgba(0,0,0,0.49);

    padding: 15px;
    width: 100%;
    height: 300px;

    background-color: $color-background-proyect-light;
    border-color: $color-border-proyect-light;
}

.imagenProyecto {
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

body.dark {
    .item {
        background-color: $color-background-proyect-dark;
        border-color: $color-border-proyect-dark;
    }
    figcaption, [class^=imghvr-] figcaption {
        background-color: #165170;
        padding: 30px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        color: #fff;
    }
}
