@import 'theme/light';
@import 'theme/dark';

.cuadroProyecto {
    display: grid;

    grid-template-columns: 49.45% 49.45%;
    grid-template-rows: auto auto;
    column-gap: 1.1%;
    row-gap: 5%;

    justify-items: center;

    /* border: solid;
    border-color: black; */
}
