---
import Layout from "../../layouts/Layout.astro";
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);

console.log({
  lang
})

const t = useTranslations(lang);

---

<Layout title="Luis Osorio">
	<main>
    {t('nav.home')}
    {t('nav.about')}
  </main>
</Layout>
