---
import Layout from '@layouts/Layout.astro';

import Introduction from '@components/index/introduction.astro'
import Tecnologies from '@components/index/tecnologies.astro'
import Experience from '@components/index/experience.astro'
import Projects from '@components/index/projects.astro';
---

<Layout color="bg-gradient-to-r from-white via-slate-50 to-slate-200 dark:from-black dark:via-white/[0.05] dark:to-white/[0.08]" title="Luis Osorio | luisfosg">
  <main class="flex flex-col w-full justify-center items-center">
    <Introduction />
    <Tecnologies />
    <Projects />
    <Experience />
  </main>
</Layout>

<style>
</style>
