---
import { t } from "astro-i18n"

import Layout from '../layouts/Layout.astro';
---

<Layout title="Luis Osorio">
	<main>
    <p>{t('index.home')}</p>
    <p>projects</p>
  </main>
</Layout>
