---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Luis Osorio">
	<main>
		<h1><span class="text-gradient">LuisFOsG</span></h1>

    <ul class="flex">
      <li>home</li>
      <li><a href="/blog">blog</a></li>
      <li><a href="/contact">contact</a></li>
      <li>darkmode</li>
      <li>lang</li>
    </ul>


    <p>profile</p>
    <p>projects</p>
  </main>
</Layout>
