---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Luis Osorio | LuisFOsG">
	<main>
		<h1><span class="text-gradient">LuisFOsG</span></h1>
  </main>
</Layout>
