---
import Layout from '../layouts/Layout.astro';

import Introduction from '../components/index/introduction.astro'
import Tecnologies from '../components/index/tecnologies.astro'
import Experience from '../components/index/experience.astro'
---

<Layout color="bg-black/80" title="Luis Osorio | luisfosg">
  <main class="flex flex-col w-full justify-center items-center">
    <Introduction />
    <Tecnologies />
    <Experience />
  </main>
</Layout>

<style>
</style>
