---
import { t, changeLanguage } from "i18next";
import Layout from "../layouts/Layout.astro";

changeLanguage("es");
---

<Layout title="Luis Osorio">
	<main>
    <p>{t('home')}</p>
    <p>projects</p>
  </main>
</Layout>
