---
import Layout from '../layouts/Layout.astro';
import Introduction from '../components/index/introduction.astro'
---

<Layout color="bg-black/80" title="Luis Osorio | luisfosg">
  <main class="flex flex-col w-full justify-center items-center">
    <Introduction />

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum nemo eos ad impedit ullam voluptate illo enim, quis eveniet praesentium beatae totam ab rem mollitia minus commodi assumenda laboriosam tenetur voluptas corrupti optio! Sunt, aliquam aut. Ea fugit nam corrupti quisquam. Consequuntur inventore et perferendis nulla voluptas accusantium eveniet consectetur! Officia, magni voluptate! Consequuntur ipsum non ut, culpa minima rem praesentium temporibus vel possimus delectus perferendis, debitis dolor? Totam, reprehenderit. Pariatur consequatur vitae, alias maxime quas atque magnam voluptates doloremque voluptatibus molestiae? Animi quidem quas, perspiciatis eos illo recusandae adipisci obcaecati dolore soluta voluptatum quisquam, magni doloremque labore! Atque harum rerum illo nihil cum provident dolores saepe modi sed deserunt nam earum hic blanditiis repudiandae optio ut amet, fugit commodi consequatur itaque adipisci eaque tempore minus enim! Amet consequuntur dolorum asperiores corrupti! Ullam, maiores! Eaque aperiam optio ut nulla asperiores possimus, molestias molestiae est quam at vel illum nobis earum, dolorum deleniti, omnis itaque. Velit ad, qui molestias, dolores ducimus asperiores nulla recusandae assumenda cupiditate iure excepturi. Laboriosam dolore aliquid est nesciunt consequuntur adipisci totam voluptatibus fugit quasi ratione eaque vel molestiae tempora natus dignissimos voluptates quisquam voluptatem cum autem debitis dicta unde, nulla recusandae animi! Inventore quos sapiente fugit!</p>

  </main>
</Layout>

<style>
</style>
