---
import { Image } from 'astro:assets';

import Layout from '../layouts/Layout.astro';
---

<Layout title="Luis Osorio | luisfosg">
  <main class="flex justify-center">
    <Image class="ml-2 border-8 border-zinc-400 bg-white rounded-full" width="180" height="230" src="/images/avatar.png" alt="luisfosg" />
  </main>
</Layout>

<style>
</style>
