---
import MenuItem from "./MenuItem.astro";
import Profile from "./Profile.astro";
---

<div id="aside" class="flex flex-col h-[90vh] gap-2 w-full">
  <div class="[grid-area:profile]">
    <Profile />
  </div>

  <div class="[grid-area:main] w-full rounded-lg bg-zinc-900 overflow-y-auto">
    <ul class="p-2">
      <MenuItem  href="/">
        <span class="text-2xl icon-[material-symbols--home-outline-rounded]" />
        Inicio
      </MenuItem>

      <MenuItem href="/project">
        <span class="text-lg mr-1 icon-[streamline--application-add]" />
        Proyectos
      </MenuItem>
    </ul>
  </div>
</div>

<style>
  #aside {
    display: grid;
    grid-template-areas:
    "profile"
    "main"
    "main";
    grid-template-rows: 10vh 1fr;
  }
</style>
