<div class="flex justify-between w-full h-full px-5 items-center">
  <div class="flex items-center">
    <span class="icon-[tabler--copyright] text-zinc-300 mr-1" />
    <div class="text-sm">
      <span class="font-bold">Anuncio!</span> Página en construcción
    </div>
  </div>

  <div>
    <strong class="text-zinc-400">luisfosg</strong>
  </div>
</div>
