---
import Menu from "./react/Menu";

---

<div class="flex justify-between w-full px-2 h-full items-center">
  <Menu client:load />

  <div>
    <strong class="text-white dark:text-zinc-400 pr-4">luisfosg</strong>
  </div>
</div>
