---
const ROUTES = [
  {
    route: '/',
    name: 'Inicio'
  },
  {
    route: '/blog',
    name: 'Blog'
  },
  {
    route: '/contact',
    name: 'Contacto'
  }
]
---

<nav class="fixed flex top-0 items-center justify-between w-full h-14 border-b border-slate-600 px-28">
  <h1>LuisFOsG</h1>

  <ul class="flex">
    {
      ROUTES.map(route => (
        <li class="mx-2"><a href={route.route}>{route.name}</a></li>
      ))
    }
    <li class="mx-2">darkmode</li>
    <li class="mx-2">lang</li>
  </ul>
</nav>
