---
import { Icon } from 'astro-icon'
import DarkMode from './Darkmode'

const ROUTES = [
  {
    route: '/',
    name: 'Inicio',
    icon: 'ic:round-home'
  },
  {
    route: '/blog',
    name: 'Blog',
    icon: 'ri:book-3-fill'
  },
  {
    route: '/contact',
    name: 'Contacto',
    icon: 'ph:moon-fill'
  },
  {
    icon: 'cif:lr'
  },
  {
    icon: 'cif:es'
  }
]
---

<nav class="fixed flex top-0 items-center justify-between w-full h-14 border-b border-slate-600 px-28">
  <h1>
    <a href="/">LuisFOsG</a>
  </h1>

  <ul class="flex">
    {
      ROUTES.map(route => (
        <li>
          <a class="flex items-center justify-center bg-slate-200/20 rounded-lg p-2 mx-2" href={route.route}>
            {route.icon && <Icon class="w-6 h-6" name={route.icon}></Icon>}
            {route.name && <span class="ml-1">{route.name}</span>}
          </a>
        </li>
      ))
    }

    <DarkMode client:only />
  </ul>
</nav>
