---
import Layout from "@layouts/Layout.astro";
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="Contacto">
	<main>
    <h1>Contacto</h1>

    {t('nav.home')}
    {t('nav.about')}
  </main>
</Layout>
