---
import Layout from "@layouts/Layout.astro";
import { getLangFromUrl, useTranslations, getStaticPath } from '../../i18n/utils';

export const getStaticPaths = getStaticPath

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="Luis Osorio">
	<main>
    {t('nav.home')}
    {t('nav.about')}
  </main>
</Layout>
