---
import Layout from "@layouts/Layout.astro";
import { getLangFromUrl, useTranslations, getStaticPath } from '../../i18n/utils';

export const getStaticPaths = getStaticPath

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="Luis Osorio">
	<main>
    {t('nav.home')}
    {t('nav.about')}

    <br><br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, debitis? Atque, fugiat. Molestias sit ipsum impedit quisquam eos voluptatem explicabo a veniam voluptatum dolore optio, eaque eum culpa ex mollitia, totam eius rerum harum quas! Pariatur quibusdam enim illo numquam iure ducimus omnis dignissimos et, expedita alias esse aspernatur odio provident saepe magni error voluptas quam. Autem, dicta quod. Quia culpa tempora soluta dicta nisi tempore quam dignissimos totam autem ab at sapiente distinctio cumque, rem cupiditate mollitia est? Quis aliquam distinctio hic accusamus, atque fugiat numquam adipisci accusantium odio quasi repudiandae error, doloribus iste molestias illo pariatur aperiam! Minima?
  </main>
</Layout>
