---
import { Icon } from 'astro-icon'

import DarkMode from '@components/Darkmode'
import LangMode from '@components/Langmode'
import Link from '@common/ui/link'

const ROUTES = [
  {
    route: '/',
    name: 'Inicio',
    icon: 'ic:round-home'
  },
  {
    route: '/blog',
    name: 'Blog',
    icon: 'ri:book-3-fill'
  },
  {
    route: '/contact',
    name: 'Contacto',
    icon: 'ph:moon-fill'
  }
]
---

<nav class="fixed flex top-0 items-center justify-between w-full h-14 backdrop-blur bg-slate-400/80 dark:bg-slate-800/80 px-28">
  <a href='/'>LuisFOsG</a>

  <ul class="flex">
    {
      ROUTES.map(route => (
        <li>
          <Link to={route.route}>
            {route.icon && <Icon class="w-6 h-6" name={route.icon}></Icon>}
            {route.name && <span class="ml-1">{route.name}</span>}
          </Link>
        </li>
      ))
    }

    <LangMode client:only />
    <DarkMode client:only />
  </ul>
</nav>
