/* Color Fondo Pagina */
$color-background-dark: rgb(80, 105, 128);

/* Boton Menu */
$color-button-dark: rgb(26, 46, 56);
$color-button-active-dark: rgb(34, 47, 79);

/* Scroll Bar */
$color-scrollbar-bg-dark: rgb(84, 70, 70);
$color-scrollbar-bar-dark: rgb(116, 45, 45);
