/* Color Fondo Pagina */
$color-background-dark: #092327;

/* Texto */
$color-texto-primary-dark: #FFF;

/* Navigations Color ===============================================  */

/* Boton Menu */
$color-button-dark: #0b5351;
$color-button-active-dark: #067e7b;

/* Menu Despegable */
$color-menudespe-primary-dark: #0b5351;
$color-menudespe-secundary-dark: #203A43;
$color-menudespe-tertiary-dark: #2C5364;

/* Texto Menu */
$color-textmenu-dark: rgb(255, 255, 255);
$color-textmenu-hover-dark: #197da5;

/* Scroll Bar */
$color-scrollbar-bg-dark:  #092327;
$color-scrollbar-bar-dark: #00a9a5;

/* Proyects Color ===============================================  */

/* background */
$color-background-proyect-dark: #067e7b;
$color-border-proyect-dark: #4e8098;

/* Profile Color ===============================================  */

/* Texto Menu */
$color-text-dark: rgb(255, 255, 255);
$color-text-hover-dark: #3c5a66;

/* Color de Botones */
$color-buttonprofile-dark: #ffffff;
$color-iconprofile-dark: rgb(0, 0, 0);

/* Contact Color ===============================================  */

$color-background-contact-dark: #3c5a66;
$color-button-contact-dark: #00a9a5;

/* GetInTouch ================================================== */

$color-active-getintouch-dark: #315e6b;

/* Animacion CSS ================================================ */

$color-animacion-dark: rgba(255, 255, 255, 0.2);
