/* Color Fondo Pagina */
$color-background-light: rgb(228, 116, 116);

/* Boton Menu */
$color-button-light: rgb(83, 128, 150);
$color-button-active-light: rgb(16, 19, 26);

/* Scroll Bar */
$color-scrollbar-bg-light: rgb(116, 126, 150);
$color-scrollbar-bar-light: rgb(223, 130, 130);
