/* Color Fondo Pagina */
$color-background-light: #90c2e7;

/* Texto */
$color-texto-primary-light: #000;

/* Navigations Color ===============================================  */

/* Boton Menu */
$color-button-light: rgb(83, 128, 150);
$color-button-active-light: #00a9a5;

/* Menu Despegable */
$color-menudespe-primary-light: #16222A;
$color-menudespe-secundary-light: #3A6073;
$color-menudespe-tertiary-light: #3A7270;

/* Texto Menu */
$color-textmenu-light: rgb(255, 255, 255);
$color-textmenu-hover-light: #3c5a66;

/* Scroll Bar */
$color-scrollbar-bg-light: #00a9a5;
$color-scrollbar-bar-light: #0b5351;

/* Proyects Color ===============================================  */

/* background */
$color-background-proyect-light: #4e8098;
$color-border-proyect-light: #067e7b;

/* Profile Color ===============================================  */

/* Texto Menu */
$color-text-light: #3c5a66;
$color-text-hover-light: rgb(255, 255, 255);
