/* Color Fondo Pagina */
$color-background-light: rgb(228, 116, 116);

/* Boton Menu */
$color-button-light: rgb(83, 128, 150);
$color-button-active-light: rgb(16, 19, 26);

/* Scroll Bar */
$color-scrollbar-bg-light: rgb(116, 126, 150);
$color-scrollbar-bar-light: rgb(223, 130, 130);


/* Tema Dark ============================================================================= */


/* Color Fondo Pagina */
$color-background-dark: rgb(80, 105, 128);

/* Boton Menu */
$color-button-dark: rgb(26, 46, 56);
$color-button-active-dark: rgb(34, 47, 79);

/* Scroll Bar */
$color-scrollbar-bg-dark: rgb(84, 70, 70);
$color-scrollbar-bar-dark: rgb(116, 45, 45);
