$color-background-dark: rgb(80, 105, 128);
$color-background-light: rgb(228, 116, 116);

$color-button-light: rgb(83, 128, 150);
$color-button-dark: rgb(26, 46, 56);
$color-button-active-light: rgb(16, 19, 26);
$color-button-active-dark: rgb(34, 47, 79);
