---
import Typing from '@components/react/Typing'
import Qoute from '@components/react/Quote'
---

<section class="w-11/12 md:w-3/4 h-[90vh] flex flex-col justify-center items-center">
  <span class="text-7xl animate-wiggle animate-twice animate-duration-[2000ms]">👋</span>
  <h1 class="text-4xl md:text-6xl text-center tracking-tighter text-white font-extrabold mt-2">Soy Luis Osorio</h1>

  <Typing client:only message="Developer" classStyle='bg-gradient-to-r from-blue-600 via-green-500 to-indigo-400 inline-block text-transparent bg-clip-text text-center text-3xl md:text-5xl font-semibold mb-3 mt-1' items={[
    'JavaScript', 1000,
    'TypeScript', 1000,
    'Web', 1000,
  ]} />

  <Qoute client:only />
</section>
