---
const techs = [
  'HTML', 'CSS', 'JavaScript',
  'TypeScript', 'Tailwind CSS', 'Next.js', 'Angular',
  'NestJS', 'Node.js', 'Docker',
  'Git', 'GitHub', 'MySQL', 'MongoDB'
]
---

<section class="w-3/4 mb-20 flex flex-col justify-center items-center">
  <h2 class="font-bold text-center text-white/90 text-2xl">Habilidades & Tecnologías</h2>
  <span class="text-center mt-2 text-white/40 text-base leading-5">Te comparto las tecnologías más recurrentes que dispongo para realizar mis proyectos</span>

  <div class="flex flex-wrap justify-center gap-2 mt-12">
    {
      techs.map(tech => (
        <div class="text-black/70 text-lg px-2 rounded-lg bg-white/80 hover:bg-white/70">{tech}</div>
      ))
    }
  </div>
</section>
