---
import { ViewTransitions } from 'astro:transitions';

import AsideMenu from '@components/aside/AsideMenu.astro';
import Footer from '@components/Footer.astro';

interface Props {
	title: string;
  color?: string;
}

const { title, color } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/images/avatar.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

    <ViewTransitions fallback='none'></ViewTransitions>
	</head>
	<body>
		<div id="app" class="relative h-screen p-2 gap-2">
      <aside class="hidden md:block [grid-area:aside] h-full rounded-lg">
        <AsideMenu />
      </aside>

      <main class={`[grid-area:main] rounded-lg p-5 ${color || 'bg-zinc-900'} overflow-y-auto`}>
        <slot></slot>
      </main>

      <footer class="[grid-area:footer] w-full rounded-lg bg-zinc-800 min-h-[7vh]">
        <Footer />
      </footer>
    </div>
	</body>
</html>

<style>
  #app {
    display: grid;
    grid-template-areas:
    "main main main"
    "footer footer footer";
    grid-template-columns: 14rem 1fr;
    grid-template-rows: 1fr auto;
  }

  @media (min-width: 1024px) {
    #app {
      grid-template-columns: 20rem 1fr;
    }
  }

  @media (min-width: 768px) {
    #app {
      grid-template-areas:
      "aside main main"
      "footer footer footer";
    }
  }
</style>

<style is:global>
  html {
    font-family: 'Roboto', system-ui, sans-serif;
    background-color: #000;
    color: #fff;
  }
</style>
